body{
   font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
   
}
/*main_page*/
#mainpage{
    background: url(photos/backr.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.ball{
   width: 100px;
    height: 100px;
    margin: auto;
    top:0;
    margin-bottom: 0px;
}
.hhh{
    width: 100px;
    height: 100px;
    margin-top: 80px;
 -webkit-filter: drop-shadow(10px 10px 50px #222);
    filter:         drop-shadow(10px 10px 50px #222); 
}
.imager{ 
   margin-left: 40px;
}
.fb_name,.fb_id{
    font-size: 18px;
    color: #3c589f;
    font-family: cursive;
   
}
.fb{
    
}

.margin{
    margin-left: 25px;
}
.bottom_space1{
    margin-top: 110px;
    
}
.bottom_space2{
    margin-top: 180px;
    
}
#login_page{
	background:url('photos/storm-clouds-sky-grass-land-football-sport-iphone-6-plus-fullhd-wallpaper-235-416%20(1).jpg');
	background-size:cover;

  
}
#account_1{
    background:url('photos/storm-clouds-sky-grass-land-football-sport-iphone-6-plus-fullhd-wallpaper-235-416%20(1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*.nice{
    height:300px;
    width:300px;
    background-color: #fff;
    margin-left:33.33px;
    opacity: 0.5;
}*/
.fballr_name{
    text-align: center;
   color: #fff;
    text-shadow: 5px 3px 50px #000000;
    font-size:52px;
    margin-top: 80px;
}

.sign_email{
    bottom: 0px;
    position: fixed;
   
   
}
 
.email_sign{
    border: none;
    background-color: #fff;
    width: 90%;
    opacity: 0.7;
    margin-bottom:20px;
    margin-left:15px;
    border-radius: 0px;
    height:30%; 
    font-size: 16px;
  
}
.fb_sign{
    border: none;
    background-color: #fff;
    width:90%;
    opacity: 0.7;
    margin-left:15px;
    border-radius: 0px;
    margin-bottom:20px;
    font-size: 16px;
}
.fballr_sign{
    border: none;
    background-color: transparent;
    color: #fff;
    width: 90%;
    margin-bottom:20px;
    margin-left:15px;
    font-size: 16px;
}
.fballr_sign:hover{
    background-color: transparent;
    border: none;
    color: #fff;
}
.fballr_sign:active{
    border:none;
}
#via_like,#via_comment{
    color: #3abbed;
}
#profile_btn{
    margin-top:50px;
}
.sidebar{
    border: 1px solid #000;
}

/*video_page*/

.head{
    background-color:#d2d2d4;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
}
.head_category{
    background-color: #f3f3f4;
    color: #8e8e93;
      width: 100%;
   position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
}
.back{
    background-color: transparent;
    float: left;
    width: 15%;
	display: inline;
   
}
.back:hover{
    background-color: transparent;
    border:none;
    border-color: transparent;
}
.right{
    background-color: transparent;
    border: none;
    width: 15%;
	float: right;
	display: inline;
    text-align: right;

}
.right:hover{
    background-color: transparent;
    border: none;
}
.right_btn{
    font-size:14px; 
}
.heading{
    color: #fff;
    width: 70%;
	
    float: left;
	text-align: center;
    display: inline;
    font-size: 18px;
    padding-top: 18px;
 
  
}
.bottom_space{
    margin-top:70px;
}

Iframe {
width: 100%;
height:auto;
}
.leo_img{
    width:70px;
    height: 100%;
    display: inline;
    float: left;
    margin-left:12px;
    margin-top:3px;
}
.leo_text{
   margin-left: 90px;
    padding-left:2px;
    padding-top:6px;

}
.likes{
   
   
    border-bottom: 1px solid #8e8e93;
    border-top: 1px solid #8e8e93;
}
.group_btn{
    margin-bottom:10px;
} 
.col-like,.col-comment,.col-share,.col-view{
    display: inline;
    border: none;
    padding-left: 12px;
   
}
.share,.view{
    border: none;
     background-color: transparent;
  
}
.view{
    color: #c7c7c7;
}

p{
    color: #34aadd;
}
.menu{
    border: none;
    padding:10px;
    text-align: left;
    background-color: transparent;
    padding-left: 25px;
    margin-top: 15px;
    font-size: 16px;
}

.content-area{
    border-left: 1px solid black;
}
.com_top{
    bottom: 0px;
    position: fixed;
}
/*profile*/

.profile_gro{
    padding-top: 2px;
    border-bottom: 1px solid #808080;
}
.btn-info{
    background-color:transparent;
    border: none;
    border-color: transparent;
}
.btn-info:hover{
       background-color:transparent;
    border: none;
    border-color: transparent; 
}
.leo_pro{
    
    height:130px;
    width:130px;
    margin: auto;
    margin-top:95px; 
}
.black{
    color: black;
}
.leo_name{
  text-align: center;
    font-size:24px;
    margin-top: 5%;
}
.copenhagen{
    color: #8e8e93;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}
.k_foll{
  text-align: center;
    font-size: 18px;
    padding-top: 10px;
}

.follow_icon{
    padding-bottom: 10%;
    text-align: center;
}
#followers_btn,#following_btn{
    color: #928e93;
}
#video_like{
text-align: center;
  
}
#follows_btn{
    font-size:18px;
margin-top: 20px;
}
.ok{
    width: 100%;
}
.follow{
    border: none;
    background-color: transparent;
  
}
.leo_i{
    font-size: 16px;
    text-align: center;
    border: none;
    background-color: #fff;
     -webkit-box-shadow:none;
}

.follow:hover{
    border: none;
    background-color: transparent;
}
.glyphicon-plus{
    color: #4cd964;
    margin-right:  5px;
}
.line{
    border: none;
    background: #fff;
    padding-top:16px; 
    font-size:16px;
    text-align: center;
    margin: auto;
 
   
}
.line:hover{
   border-bottom: 4px solid #34aadc;
    background-color: #fff;

}
.top_sp{
    margin-top:2px;
   
}

/*comment*/

.img_set{
    width:70px;
    height: 100%;
    display: inline;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
}
.text_br{
    width: 400px;
    padding-left: 1%;
    padding-top: 5%;
    font-size: 12px;
}

.texter{
    float: left;
    margin-top: 15px;
    color: darkgrey;
    font-size: 14px;
}
.type{
     float: left;
    font-family: sans-serif;
    color: #000;
    font-size: 14px; 
}
.tops{
    margin-top: 35px;
}
.get_img{
    border-radius: 100px;
}
.date{
     float: left;
    
    color: darkgrey;
    font-size: 12px; 
}

#say_text{
    border-radius: 0px;
    margin-left: 3%;
  
}

.send{
    color:#6ccaed;
    padding-left: 8%;
    font-size: 16px;
}
.li_area{
    margin-left:2px;
    padding-top:30px;
    line-height: inherit;
  
}
.li_messi{
    margin-left: 2px;
    
   
}
.names{
    margin-top:15px;
}
.follow_btn{
    background-color:#fff;
    border: none;
    color: black;
    border-radius:5px;
    
}
.follow_btn:hover{
    background-color:#fff;
    border: none;
    color:black;
}
.follower{
    color: black;
    text-align: left;
    border-radius:0px;
    background-color: #fff;
    width:100%;
    border:none; 
}
.follower:hover{
    background-color: #fff;
    border: none;
}

/*explore_home*/
.heading_exp{
    color: #fff;
    width: 70%;
	padding: 15px;
    float: left;
	text-align: center;
    display: inline;
    position: fixed;
    font-size: 18px;
}
#margin_row{
    margin-top:25px;
    border-bottom:1px solid black;
    padding-bottom: 25px;
    
    padding-left: 50px;

 
 
}
.fballrs,.team,.tag{
    display: inline;
    padding-left:12%;
   
}
.li_item{
    list-style: none;
}
.li_pop{
   
    border-bottom: 1px solid #000;
   
}
.popular{
    border: none;
    background-color: #fff;
    width: 100%;
    text-align: left;
    padding-top: 20px;
    padding-bottom:20px; 
}
.popular:hover{
    background-color: #fff;
    border: none;
}
/*explore_team*/
.set_area{
    padding-left:15px;
   margin-bottom: 25px;
}
.real{
    padding-top:13%;
}

.team_img{
    border: 1px solid black;
}
/*explore_tags*/
.li_free{
    padding-left:5px;
   
}
/*setting*/
.set_proName{
    color: #8e8e93;
    text-align: center;
    margin-top:2%; 
}
.set_heading{
    color: #34aadc;
   
    padding-left:19px;
    padding-top: 3%;
    
}
.account{
    border-bottom: 1px solid #8e8e93;
    padding-left: 12px;
    padding-top: 3px;
}
.lab_full{
    width: 100%;
}
.set_btn{
    text-align: left;
    border: none;
    background-color: transparent;
    width: 100%;
}
.signout{
    background-color: #ff3b30;
    color: #fff;
    bottom: 0px;
    width: 100%;
    border-radius: 0px;
}
.signout:hover{
    background-color: #ff3b30;
    color: #fff;
}
.signout_btn{
    margin-top: 10%;
    width: 100%;
}
.version{
    text-align: center;
}

/*freekick*/

.new_group{
    width:100%;
    margin-top:40px;
    padding:auto;
    height: 10%;
 
}
.new{
    display: inline;
    padding-left: 25%;
    border: none;
    background-color: #fff;
}
.main_btn{
    background-color: transparent;
    border: none;
   
}
.glyphicon glyphicon-ok{
  background-color: #34aadc;
    color: #34aadc;
}
.main_btn:hover{
    background-color: transparent;
    border: none;
}
.img_user{
    height:70px;
    width:70px;
}
.col-view{
   padding-top: 35px;
}
.back_btn{
    background-color: transparent;
    float: left;
    border: none;
}
.back_btn:hover{
    background-color: transparent;
    border: none;
    border-color: transparent;
}
.head_pro{
    background-color: #d2d2d4;
    color: #fff;
    text-align: center;
    font-size: 18px;
    height: 10%;
}
.sub{
    margin-top: 2%;
}
.pro_left{
    float: left;
}
.minutes{
    color: #ead7cc;
    font-size: 12;
    font-family: sans-serif;
}
.date{
     color: #ead7cc;
    font-size: 12;
    font-family: sans-serif; 
}
strong{
    font-family: sans-serif;
     color: #898c90;
    font-size: 14;
}
.space{
    margin-top:30px;
}
.list{
    border:none;
    background-color: transparent;
    width: 100%;
    text-align: left;
}
.list:hover{
    border: none;
    background-color: transparent;
}

.button-icon-right{
    text-align: right;
}

.field{
    border: none;
    background-color:#fff;
    text-align: right;
    border-radius: 0px;
    -webkit-box-shadow:none;
  
}
.field:hover{
    border: none;
    background-color:#fff;
}
.five{
     border: none;
    background-color:#fff;
      text-align:center;
    border-radius: 0px;
    -webkit-box-shadow:none;
 color: #8e8e93;
}
.fives{
         border: none;
    background-color:#fff;
      text-align:center;
    border-radius: 0px;
    -webkit-box-shadow:none;
    color: black;
    font-size: 24px;
}
.five:focus{
      border: none;
    background-color:#fff;
}
.tw_id:focus{
      border: none;
    background-color:#fff;
}
.tw_id{
    border: none;
    background-color:#fff;
      text-align:left;
    border-radius: 0px;
    -webkit-box-shadow:none;
}
.pro_right{
    float: right;
    
}
.leo_profile{
   background-color:transparent;
}
.ok_btn{
    background-color: transparent;
    border: none;
    color: #35aadc;
}
.ok_btn:hover{
     background-color: transparent;
    border: none;
    color: #35aadc;
}
#ok{
    background-color: #d2d2d4;
    border: none;
}
.click_follow {
    background-color: transparent;
    border: none;
    color: #4cd964;
}
.click_follow:hover{
     background-color: transparent;
    border: none;
    color: #4cd964;
}
.new_btn{
    border: none;
    background-color: transparent;
}
.new_btn:hover{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #34aadc;
}
.new:hover{
  border: none;
}
.bottom{
    margin-top:40px; 
}
.space{
    border-bottom: 1px solid #8e8e93;
}
#up_video{
    margin-bottom: 35px;
}
/*category*/


.uploads{
    border: none; 
    color: #fff;
    bottom: 0px;
    position: fixed;
    border-radius: 0px;
    width: 100%;
    background-color: #4cd964;
}
.uploads:hover{
    background-color: #4cd964;
    color: #fff;
}
.text_areas{
    border: none;
    background-color: transparent;
}
.text_areas:hover{
    border: none;
    background-color: transparent;
}

.upload{
    border: none;
       background: #020044; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #020044, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #020044, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #020044, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #020044, #fff);
    color: #fff;
    bottom: 0px;
    position: fixed;
    border-radius: 0px;
    width: 100%;
}
.upload:hover{
        background: #020044; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #020044, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #020044, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #020044, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #020044, #fff);
    color: #fff;
}
.heading_2{
    color: #8e8e93;
    width: 60%;
	padding: 10px;
	float: left;
	text-align: center;
    display: inline;
    font-size: 18px;
  
}
.heading_3{
     color: #ffffff;
   width: 70%;
	padding: 14px;
	float: left;
	text-align: center;
    display: inline;
    font-size: 16px;
}
.right_2{
    background-color: transparent;
    border: none;
    width: 25%;
   
	float: right;
	display: inline;
    text-align: right;
    color: #8e8e93;
    font-size: 14px;
}
#side_icon,
#side_icon2,
#side_icon3,
#side_icon4,
#side_icon5{
    position: fixed;
    background-color: transparent;
    border: none;
}
#right_icon{
    
    background-color: transparent;
    border: none;
}
#close_btn{
    background-color: transparent;
    border: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0px;
}
.lblse{
   background-color: #f7f7f7;
    color: #8e8e93;
    padding: 10px;
}
.lab{
   padding-left:3%;
    font-weight: 100;
}
.heading_exp{
    color: #fff;
    width: 70%;
	padding: 10px;
    float: left;
	text-align: center;
    display: inline;
    position: fixed;
}
#submit{
    border-radius: 0px;
    bottom: 0px;
    position:fixed; 
}
.submit_1{
    padding-top: 15%;
}
.form1{
    padding-left: 2%;
}
.link_active{
    border-bottom: 3px solid #34aadc;
}
.group{
    bottom:30%;
    position: fixed;
    padding-left:8%;
   
}
.hi{
    width: 90%;
    border-radius: 0px;
    background-color:#fff;
   
    
}
.hiaa{
    width: 90%;
    border-radius: 0px;
    background-color:#01a3de;
   
    
}
.hai{
    margin-left:20px;
    margin-top: 50px;
}
.gro_1,.gro_2{
    width:100%;
   
}
.gro_3{
    bottom: 0px;
    position: fixed;
    background-color: #4cd964;
    color: #fff;
    border-radius: 0px;
    width: 100%;
}
.gro_3:hover{
    background-color: #4cd964;
    border: none;
}
.user{
    text-align: center;
    font-size: 36px;
    font-family: serif;
    margin-top:45px; 
}
.form{
    padding-left:5%;
    padding-top:5%;
    width: 100%;
}
.search{
    margin-top: 20%;
    width:100%; 
}
.search-input{
    border: none;
    background-color: #f7f7f7;
    width:190px;
    color: black;
    border-radius: 0px;
    margin-left: -10px;
    border-left: 0px;
    padding: 10px;
    display: inline;
    outline: 0px;
}
.searchic{
    width: 30px;
    display: inline;
    float: left;
    padding-top: 10px;
    color: #a9a9ab;
    background-color: #f7f7f7;
}
.back_search{
 background-color: #f7f7f7;
    margin-bottom: 4px;
}
.full_search{
    width: 100%;
    background-color:#f7f7f7;
    margin-top:80px;
    
 
}
#show{
    margin-top: 150px;
}
.btn_show{
    background-color: darkgrey;
    color: #fff;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    font-size: 22px;
    margin-top: 15px;
}
.btn_style{
    color: dimgray;
    font-family: serif;
}
.sea{
    width:10%;
    display:inline;
    float:left;
    color: black;
    background-color: #f7f7f7;
    padding:13px;
    
}
.sea_x{
    width:10%;
    display: inline;
    float:left;
    color: black;
    background-color: #f7f7f7;
    border: none;
    border-radius:0px;
    padding:13px;
}


.sea_btn{
    width:20%;
    display: inline;
    float:left;
    color: #34aadc;
    background-color: #f7f7f7;
    border: none;
    padding:10px;
    border-radius: 0px;
}
.sea_btn:hover{
    border: none;
     background-color: #f7f7f7;
   
}
.search-in{
    border: none;
    background-color: #f7f7f7;
    width:60%;
    color: black;
    border-radius: 0px;
    border-left: 0px;
    padding: 10px;
    display: inline;
    outline: 0px;
    float:left;
  
}
. text_areas{
    width:100%; 
}
#tags{
    width: 100%;
}
.full{
    position: fixed;
    background-color:#fff;
    top: 0px;
    left: 0px;
    z-index: 99999;
    width:100%;
    
}
.fc{
 
}
#error_login{
    color: red;
    font-style: italic;
    font-size: 12px;
}
.error{
    padding:33%; 
}
#message{
    width: 100%;
}
.one{
   width:100%;
    border:none;
    border-color: transparent;
}
.part{
    width:100%;
    height:auto;
    background-color:#fff;
    
  
}
#myImg{
    border: 2px solid #808080;
}
.parts{
    width:100%;
    height:120px;
    background-color:#fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    margin-top:5px;
}
#preview_btn{
    background-color:#f3f3f4;
    margin-bottom:25px;
    border: none;
}
.remove{
    border: none;
}
.imp{
    color: red;
}




.name_1{
    color:darkred;
    font-size:24px;
    text-align: center;
}
.name_2{
    color: darkred;
    font-size: 18px;
    text-align: center;
}
.bord{
    opacity: 0.7;    
    font-size:18px;
    border: none;
    padding:25px;
    padding-left: 10px;
   /* //border-bottom: 1px solid #006400;*/
    margin-bottom: 10px;
    background-color:#fff;    
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
   color: #000 !important;
    border-radius: 0px;
}
.bord:focus{
    border-radius: 0px;
    margin-bottom: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
   
}
.lab_1{
     color: #fff;
    font-size:22px;
    font-weight:extra-light 200;
   
}

.log_class1{
    margin-top: 15px;
    padding: 10px;
}
.fill{
  margin-top: 50px;
    
}
.sizeing{
    height:100px;
    width: 100px;
}
.mod:focus{
    background-color: transparent;
    opacity: 0.7;
}
.mod:hover{
    background-color: transparent;
}
.log {
width: 95%;
height: 50px;
margin-top: 34px;

     background: #020044; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #020044, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #020044, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #020044, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #020044, #fff);
}
.log:hover{
    background-color: deepskyblue;
}